.column {
  flex: 50%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid grey;
  margin: 2px;
}
.row {
  display: flex;
}

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 5px;
}
.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 25px;
  margin: 0 0 5px 0;
  text-align: left;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}


.table-header {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}
.table-subheader {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.table {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5;
}
.table-box {
  border: 1px solid black;
  height: 40px;
}