.column {
  flex: 50%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid grey;
  margin: 2px;
}
.row {
  display: flex;
}

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 5px;
}
.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 25px;
  margin: 0 0 5px 0;
  text-align: left;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

table, td, th {
  border: 1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
}