.column {
  flex: 50%;
  padding: 10px;
  border-radius: 7px;
  margin: 2px;
  min-width: 572px;
}
.row {
  display: flex;
}
.row1 {
  display: flex;
  width: 100%
}

body, h1, p {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 5px;
}
.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 25px;
  margin: 0 0 5px 0;
  text-align: left;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-table {
  width: inherit;
  height: inherit;
  font-size: medium;
  text-align: center;
}

.table-header {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}
.table-subheader {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}
.table {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5;
}
.table-box {
  align-items: center;
  border: 1px solid black;
  height: 40px;
}
.table-input {
  font-size: medium;
  height: 100%;
  width: 98%;
  border: none;
  background: transparent;
  text-align: center;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-left: auto;
}
.dropdown .dropbtn {
  border: none;
  background-color: inherit;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  margin-left: auto;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
  background: #eee;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: auto;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: auto;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}